<div class="container mt-5">
  <div class="card shadow-lg border-0 mb-5"> <!-- Tarjeta con sombra y sin borde -->
    <% if @post.image.attached? %>
      <%= image_tag @post.image, class: 'card-img-top img-fluid rounded-top' %> <!-- Imagen con bordes redondeados arriba -->
    <% else %>
      <img src="default-image-url.jpg" class="card-img-top img-fluid rounded-top" alt="Imagen por defecto"> <!-- Imagen por defecto -->
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= @post.description %></p> <!-- Descripción con estilo de tarjeta -->
      <div class="d-flex justify-content-between align-items-center mt-4">
        <div class="btn-group">
          <%= link_to "Eliminar", @post, method: :delete, data: { confirm: "¿Estás seguro?" }, class: 'btn btn-danger btn-sm' %> <!-- Botón de eliminar -->
          <%= link_to "Editar", edit_post_path(@post), class: 'btn btn-primary btn-sm' %> <!-- Botón de editar -->
        </div>
        <small class="text-muted">Publicado el <%= @post.created_at.strftime("%d %b %Y") %></small> <!-- Fecha de publicación -->
      </div>
    </div>
    <div class="card-footer text-center">
      <%= link_to "Volver a Publicaciones", posts_path, class: "btn btn-outline-secondary btn-sm mt-2" %> <!-- Botón de volver -->
    </div>
  </div>
</div>
